<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<div="container">
  <div class="col-md-6">
    <form method="POST" action="/admin/add-product">
      <div class="form-group">
        <label for="name">PRODUCT NAME</label>
        <input type="name" name="Name" class="form-control" id="name" placeholder="Enter Product Name">

      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" name="Description" class="form-control" id="name" placeholder="Enter Product Description">
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <input type="number" name="Price" class="form-control" id="exampleInputPassword1" placeholder="Enter Price">
      </div>
      <div class="form-group mt-2">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <button type="submit" class="btn btn-primary mt-5">ADD PRODUCT</button>

    </form>


  </div>

  </div>